<style type="text/css">
    .color
    {
        color:#000000;
        background: #e7eae5;
    }


</style>

    <!-- <div class="container"> -->
        <!-- <div class="row"> -->
            <div class="color ">

                  <marquee><p style="font-family: 'Work Sans'; font-size: 14pt;margin-top: 1rem;">Some offers to be shown  !!!</p></marquee>
            </div>
        <!-- </div> -->
    <!-- </div> -->

    <!--Navbar-->
    <nav id="nav" class="navbar sticky  navbar-expand-lg navbar-dark blue darken-3 nopad">

    <div class="container"><!-- Navbar brand -->
        <a class="navbar-brand" href="./"><b style="font-weight: 700">CARRENTAL</b></a>

        <!-- Collapse button -->
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
            aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>

        <!-- Collapsible content -->
        <div class="collapse navbar-collapse" id="navbarSupportedContent">

            <!-- Links -->
            <ul class="navbar-nav ml-auto navbar-right">
                <li class="nav-item">
                    <a class="nav-link" ui-sref-active='active' ui-sref="dashboard">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" ui-sref-active='active' ui-sref="services">Services</a>
                </li>
                <li class="nav-item">
                     <a class="nav-link" ui-sref-active='active' ui-sref="myAccount">My Account</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" ui-sref-active='active' ui-sref="contactUs">Contact Us</a>
                </li>

                <li class="nav-item">
                    <a class="btn btn-yellow" ui-sref='logout' style="line-height:1.00;margin:12px;">Sign Out</a>
                </li>

                <!-- Dropdown -->
        <!--
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Dropdown</a>
                    <div class="dropdown-menu dropdown-primary" aria-labelledby="navbarDropdownMenuLink">
                        <a class="dropdown-item" href="#">Action</a>
                        <a class="dropdown-item" href="#">Another action</a>
                        <a class="dropdown-item" href="#">Something else here</a>
                    </div>
                </li>
        -->

            </ul>
            <!-- Links -->

            <!-- Search form -->
        <!--
            <form class="form-inline">
                <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
            </form>
        -->
        </div>
        <!-- Collapsible content --></div>
</nav>
<!--/.Navbar-->
    <!--/.Navbar-->
