/* YOUR CUSTOM STYLES */


.nopad
{
	padding:0px;
}


.z-depth
{
    box-shadow: 0 5px 11px 0 rgba(0, 0, 0, .18), 0 4px 15px 0 rgba(0, 0, 0, .15);
}

.nav-link
{
	padding: 1.5rem 1.5rem;

}


.colorg
{
    background: #0B65CD!important;
    color: white!important;
    border:none!important;
}

.input-group
{
    margin-bottom: 1.5rem!important;

}

.image-upload > input
{
    display: none;
}

.image-upload i
{

    cursor: pointer;
}

[type=checkbox][class*=filled-in]:checked+label:after {
    border-color: #a6c;
    background-color: #a6c;
    z-index: 0;
}

@media (min-width: 992px)
{
.navbar-expand-lg .navbar-nav .nav-link {
    padding-right: 1rem;
    padding-left: 1rem;
}

}

.divide40
{
    height: 40px;
    width: 100%;
}

body {
    margin: 0;
    font-family: 'Work Sans',sans-serif!important;
    font-size: 0.9rem;
    font-weight: 400;
    line-height: 0.9;
    color: #292b2c;
    background-color: #fff;
}

.pad
{
   padding-top: 100px;
    padding-bottom: 100px;
}

.contain
{
    padding: 0px 15px 0px 15px!important;

}

.section-content
{
    background: #d2f0f9;

}

@media screen and (min-width:768px)

{

    .nopadleft
{
    padding-left: 0px!important;
}

   .nopadright
{
    padding-right: 0px!important;
}


}



.margin
{
    margin-bottom: 300px;
    margin-top: 200px;
}
/*.circle
{
    border-radius:100px!important;
}*/

.section-content
{
    padding:100px 15px 100px 15px!important;;
}


.img-responsive
{
    display: block;
    max-width: 100%;
    height: auto;
}

.nav-item > a.active

{
/*	background-color: rgba(255,255,255,.1);*/
	color: #fff;
    transition: .35s;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
	 padding-right: 1rem;
    padding-left: 1rem;
    display: block;
    border-bottom: 6px solid   #FDCE18;
    color: white;
}


@media (max-width: 992px)
{
    .navbar .nav-item .nav-link
        {
        padding-left: 1rem;
        padding-right:1rem;
        }
}

li.pad
{
    padding:12px;
}

li.active
{
    background-color:#EEEFF3;
    padding:12px;
    border-radius: 4px;
    color: #016ACE!important;
    box-shadow: 0 5px 11px 0 rgba(0, 0, 0, .18), 0 4px 15px 0 rgba(0, 0, 0, .15)
}

.example
{
    display: block;
    min-height: 200px;
    border: 8px solid white;
    background-color: #D8D6D7;
}

li a.active
{
    color: #016ACE;
}

li.active a
{
    color: #016ACE;
}

.add_image
{
    font-size: 45px;
    margin-top: 60px;
    border: 2px solid white;
    border-radius: 50px;
    border-right-width: 5px;
    border-left-width: 5px;
    color: #d8dbdc;
    background-color: white;
}

.nopad
{
    padding:0px!important;
}

.notice
{
    margin-top: 20px;
    /*background-color: transparent;*/

}

.details
{
    background-color: #EEEEEE;
    padding: 15px 30px 15px 30px;
}

.fa-size
{
    font-size: 25px;
}

.navbar form input {
    padding-left: 1rem;
    height: 1rem;
    margin-left: 0px;
}


.banner

{
    background-image: url(../img/banner/car_banner.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: scroll;

}


.thin-banner::before

{
    background-color: transparent;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: scroll;

}


.thin-banner

{

    background-image: linear-gradient( rgba(0, 0, 0, 0.68), rgba(0, 0, 0, 0.76) ),
    url(../img/banner/car_banner.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: center center;

}



hr
{
    border-top: 1px solid rgba(204, 201, 201, 0.46)!important;
}



.chip {
    display: inline-block;
    padding: 0 15px;
    height: 50px;
    font-size: 14px;
    line-height: 50px;
    border-radius: 2px;
    background-color: #f1f1f1;
}

.chip img {
    float: left;
    margin: 0 10px 0 -25px;
    height: 50px;
    width: 50px;
    border-radius: 50%;
}

.closebtn {
    padding-left: 10px;
    color: #888;
    font-weight: bold;
    float: right;
    font-size: 20px;
    cursor: pointer;
}

.closebtn:hover {
    color: #000;
}


.closebtn1 {
    padding-left: 10px;
    color: #888;
    font-weight: bold;
    float: right;
    font-size: 20px;
    cursor: pointer;
}

.closebtn1:hover {
    color: #000;
}


@media (min-width: 576px)
{

    .modal-dialog
     {
        max-width: 750px;
        margin: 30px auto;
        margin-top: 50px;
    }
}


.ekko-lightbox-nav-overlay a {
    -ms-flex: 1;
    flex: 1;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    opacity: 0;
    transition: opacity .5s;
    color: #fff;
    font-size: 40px!important;
    z-index: 1;
}