<section class="thin-banner" style="padding:100px 0 100px 0;">
    <h3 class="text-center" style="font-weight:700; color:#FBC02D;">VENDOR<span style="color:#1976D2;">  &nbsp;DASHBOARD</span></h3>
    <p class="text-center text-white">Manage your car via Vendor Dashboard</p>
</section>
