<section style="padding:100px 0 100px 0; background-color: #F8FCFF;">
    <div class="container">
            <div class="row">

                <left-nav class="col-sm-2 nopad"></left-nav>

                <div class="col-sm-10 details z-depth-1-half">
                    <ui-view></ui-view>
                </div>

            </div>
        </div>
    </div>
</section>
