<div class="content">

    <p class="text-left" style="font-weight: 600;color:#006ACE;">Add Images</p>

    <div class="row">


        <div class="col-sm-3">
            <div class="example z-depth">
                <!-- <p>ffgdgdfg</p>  -->
                <div class="text-center">
                    <div class="image-upload">

                        <div id="upload_prev">
                            <img id="photoShowId" src="" width="185" height="150" />
                        </div>
                        <div style="display: none;">
                            <input id="uploadBtn" type="file" class="upload" value="Add Image" alt="Profile Pic" accept="image/*" name="browsefile" />
                        </div>
                        <button class="btn btn-block" type="button" style="color:black!important;background: #e8e7e4;box-shadow: none;" onclick="chooseFile();">Add Image
                        </button>
                    </div>
                </div>
            </div><br><p></p>
                    <div class="form-group">
                        <input name="group2" type="radio" class="with-gap" id="radio4">
                        <label for="radio4">Owner ID</label>
                    </div>

                    <div class="form-group">
                        <input name="group2" type="radio" class="with-gap" id="radio5">
                        <label for="radio5">Driver ID</label>
                    </div>
        </div>


        <div class="col-sm-5">
            <div class="md-form form-sm">
                <input type="text" name="fname" id="fname" placeholder="Full Name" class="form-control">
            </div>

            <div class="input-group">
                    <span class="input-group-addon" style="width:84%;padding:0px"><select class="form-control" name="select" style="background: #E8E7E4!important;border:none;">
                    <option style="padding-left: 0.8rem;">Select Card</option>
                    <option value="1">Voter Card</option>
                    <option value="2">Aadhaar Card</option>
                </select></span>
                    <input  type="text" name=" id_number" id="id_no" placeholder="Card No" class="" style="padding-bottom: 5px;padding-left: 10px">
            </div>

            <div class="input-group"><span ><input id="uploadBtn1" type="file" class="upload" value="Add Image" accept="image/*" name="browsefile" /></span></div>

            <button type="button" class="btn btn-yellow btn-sm btn-block" id='addButton' ng-click='$ctrl.addImage()' >Add</button>
        </div>

    </div>
    <br><br>


    <p class="text-left" style="font-weight: 600;color:#006ACE;">Add IDs</p>

    <div id="Add_div" class="row">

        <div class="col-sm-4"
            ng-repeat='item in $ctrl.items track by $index'
            ng-click='$ctrl.addId( $index, item )'
        >
            <div class="input-group">
                    <span class="input-group-addon colorg"><i class="fa fa-user" aria-hidden="true"></i></span>
                    <input
                        type="text"
                        name="id_number"
                        id="id_no_{{$index}}"
                        value="{{item.value}}"
                        disabled="true"
                        class="form-control colorg"
                    >
                    <span class="input-group-addon colorg">
                        <i class="fa fa-pencil" aria-hidden="true"></i>
                    </span>
            </div>
        </div>

</div>
