<ul style="list-style-type: none;">
    <li class="pad" ui-sref-active='active'><a ui-sref='dashboard' ><i class="fa fa-home fa-1x"         aria-hidden="true"></i>&nbsp;&nbsp; Dashboard</a></li>
    <li class="pad" ui-sref-active='active'><a ui-sref='myCars'    ><i class="fa fa-car fa-1x"          aria-hidden="true"></i>&nbsp;&nbsp; My Cars</a></li>
    <li class="pad" ui-sref-active='active'><a ui-sref='addCar'    ><i class="fa fa-plus-circle fa-1x"  aria-hidden="true"></i>&nbsp;&nbsp; Add Car</a></li>
    <li class="pad" ui-sref-active='active'><a ui-sref='booking'   ><i class="fa fa-book fa-1x"         aria-hidden="true"></i>&nbsp;&nbsp; Booking</a></li>
    <li class="pad" ui-sref-active='active'><a ui-sref='idProofs'  ><i class="fa fa-id-card fa-1x"      aria-hidden="true"></i>&nbsp;&nbsp; ID Proofs</a></li>
    <li class="pad" ui-sref-active='active'><a ui-sref='profile'   ><i class="fa fa-user-circle fa-1x"  aria-hidden="true"></i>&nbsp;&nbsp; Profile</a></li>
    <li class="pad" ui-sref-active='active'><a ui-sref='logout'    ><i class="fa fa-power-off fa-1x"    aria-hidden="true"></i>&nbsp;&nbsp; Logout</a></li>
</ul>
