<!--Footer Links-->
<div class="container">
    <div class="row">

        <!--First column-->
        <div class="col-md-4">
            <h5 class="title">Carrentel </h5>
            <p>&nbsp;</p>
            <p>Here you can use rows and columns here to organize your footer content.</p>
            <p class="text-right"><a href="#">   Read more</a></p>
        </div>
        <!--/.First column-->

        <hr class="hidden-md-up">
        <!--/.Second column-->

        <hr class="hidden-md-up">

        <!--Third column-->
        <div class="col-md-4">
            <h5 class="title">Recent News</h5>
            <p>&nbsp;</p>
            <ul>
                <li><i class="fa fa-file" aria-hidden="true"></i><a href="#!">&nbsp;Link 1</a></li>
                <hr>
                <li><i class="fa fa-file" aria-hidden="true"></i><a href="#!">&nbsp;Link 2</a></li>
                <hr>
                <li><i class="fa fa-file" aria-hidden="true"></i><a href="#!">&nbsp;Link 3</a></li>
                <hr>
                <li><i class="fa fa-file" aria-hidden="true"></i><a href="#!">&nbsp;Link 4</a></li>
                <hr>
            </ul>
        </div>
        <!--/.Third column-->

        <hr class="hidden-md-up">

        <!--Fourth column-->
        <div class="col-md-4">
            <h5 class="title">Contact us</h5>
            <p>&nbsp;</p>
            <ul>
                <li>Phone No:<a href="tel:+123456789">+123456789</a></li>
                <p>&nbsp;</p>
                <li>Mobile No:<a href="tel:45784456">457844456</a></li>
                <p>&nbsp;</p>
                <li>Email :<a href="mailto:abc@gmail.com">abc@gmail.com</a></li>

            </ul>
            <h5 class="title"><b>Gallery</b></h5>
            <p>&nbsp;</p>

            <div class="row">
                <div class="col-md-12">
                    <div class="mdb-lightbox">

                        <div class="row">
                            <div class="col-md-8">
                                <div class="row">
                                    <a href="https://unsplash.it/1200/768.jpg?image=251" data-toggle="lightbox" data-gallery="example-gallery" class="col-sm-4">
                                        <img src="https://unsplash.it/600.jpg?image=251" class="img-fluid">
                                    </a>
                                    <a href="https://unsplash.it/1200/768.jpg?image=252" data-toggle="lightbox" data-gallery="example-gallery" class="col-sm-4">
                                        <img src="https://unsplash.it/600.jpg?image=252" class="img-fluid">
                                    </a>
                                    <a href="https://unsplash.it/1200/768.jpg?image=253" data-toggle="lightbox" data-gallery="example-gallery" class="col-sm-4">
                                        <img src="https://unsplash.it/600.jpg?image=253" class="img-fluid">
                                    </a>
                                </div>
                                <p>&nbsp;</p>
                                <div class="row">
                                    <a href="https://unsplash.it/1200/768.jpg?image=254" data-toggle="lightbox" data-gallery="example-gallery" class="col-sm-4">
                                        <img src="https://unsplash.it/600.jpg?image=254" class="img-fluid">
                                    </a>
                                    <a href="https://unsplash.it/1200/768.jpg?image=255" data-toggle="lightbox" data-gallery="example-gallery" class="col-sm-4">
                                        <img src="https://unsplash.it/600.jpg?image=255" class="img-fluid">
                                    </a>
                                    <a href="https://unsplash.it/1200/768.jpg?image=256" data-toggle="lightbox" data-gallery="example-gallery" class="col-sm-4">
                                        <img src="https://unsplash.it/600.jpg?image=256" class="img-fluid">
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>            <!--/.Fourth column-->
    </div>
</div>
<!--/.Footer Links-->

<!--Social buttons-->
<div class="text-center mb-3">

    <a class="btn-floating btn-small btn-fb"><i class="fa fa-facebook"> </i></a>
    <a class="btn-floating btn-small btn-tw"><i class="fa fa-twitter"> </i></a>
    <a class="btn-floating btn-small btn-gplus"><i class="fa fa-google-plus"> </i></a>
    <a class="btn-floating btn-small btn-li"><i class="fa fa-linkedin"> </i></a>
    <a class="btn-floating btn-small btn-git"><i class="fa fa-github"> </i></a>
    <a class="btn-floating btn-small btn-pin"><i class="fa fa-pinterest"> </i></a>
    <a class="btn-floating btn-small btn-ins"><i class="fa fa-instagram"> </i></a>

</div>
<!--/.Social buttons-->

<!--Copyright-->
<div class="footer-copyright">
    <div class="container-fluid">
        © 2017 Copyright: <a href="https://www.fablebytestechnologies.com"> fablebytestechnologies.com </a>

    </div>
</div>
<!--/.Copyright-->
